body{
    background-color: black;
    background-image: url(../IMG/fondo-abstracto-negro-puntos-blancos-sobre-fondo-negro_73152-5632.avif);
   

}

*{
/*margin: 20;
padding: 10;
*/
}



h1{
    color: whitesmoke;
    margin: 10px;
    text-align:center;
    text-size-adjust: 50px;
    

}

h2{
    color: whitesmoke;
    margin: 10px;
    text-align:center;
    text-size-adjust: 50px;
    text-align: justify;

}


#foto_portada{
    background-color: transparent;
    /*position: absolute;*/
    border-style: none;
    /*position: sticky;*/
    display: flex;
    justify-content:center;
    /*1300*730*/
    width: 1380px;
    height: 330px;
    transition: whidth 5s;
    
}



div{
    
    /*box-sizing: border-box;*/
    background-color: antiquewhite;
    width:800px; height:1100px;
    border-color: gray;
    border-width: 10px;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background-color: transparent;
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
}

#Barra{
    width:300px; height:600px;
    display:flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
}

#SuperContainer{
    display:flex;
    flex-wrap:wrap; 
    width: 1300px; height:2000px;
    justify-content: space-between;
}


#container{
    width: 800px;
    height: 900px;
 
}

#container_linea_tiempo{
    width: 900px;
    height: 650px;
 
}





#video_1{
    background-color:brown;
    width:540px; height:319px;
     
}
#video_2{
    color: whitesmoke;
    background-color:transparent;
    width:340px; height:200px;
    margin: 10PX;
    
    /*PARA CAMBIAR CURSORES*/
    /*cursor:e-resize;*/
}
/*
div:hover {
    background-color:deepskyblue;
    width: 300px;  
    }
*/


foto_portada:hover {
    width: 300px;

}



Barra:hover {
    background-color:deepskyblue;
    
    }
 

    p{
        color: whitesmoke;
        margin: 10px;
        text-align:center;
        text-size-adjust: 50px;
        text-align: justify;
    
    }





/*
fondos
https://www.freepik.es/fotos-premium/fondo-abstracto-negro-puntos-blancos-sobre-fondo-negro_16953649.htm


efectos de sonido
https://www.epidemicsound.com/es/sound-effects/?_us=adwords&_usx=18451162075_efecto%20de%20sonido&utm_source=google&utm_medium=paidsearch&utm_campaign=18451162075&utm_term=efecto%20de%20sonido&gclid=CjwKCAjw6eWnBhAKEiwADpnw9jtT6Sf7fjMwjZ3uREbtStR-NLhsVwaBc8MvQfeJ-wxS-nDAoGRPRhoCja0QAvD_BwE


descargas ;-D
https://www.freemake.com/es/free_video_downloader_perfect/
*/
/*
video clase 7 css    54:17
*/